body {
  margin: 0;
}
a {
  text-decoration: none;
}
.page-wrapper {
  width: 100%;
  font-family: 'Lato', sans-serif;

}

.section-1 {
  width: 100%;
  min-height: 100vh;
  background: url(/img/desktop.png)center no-repeat no-repeat;
  background-size: cover;
}
.filter {

  width: 100%;
  min-height: 100vh;
  background: #5C4E48 opacity(.65);
  /*filter: opacity(.65);*/
  background-image: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0.00) 100%);
}
.header {
  width: 90%;
  margin: auto;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 3rem;
  position: relative;

}
.logo-img {
  filter: brightness(100);
  width: 100%;
}
.l-img {
  width: 1.5rem;
  position: absolute;
  top: 21%;
  left: 28%;

}
.nav {
  display: flex;
  align-items: center;
}
.nav-links {
text-align: center;
}
.nav-link-individual {
  color: white;
  font-family: 'Lato', sans-serif;
  margin: 1rem;
  text-align: center;

}

.nav-link-individual-2 {
  color: white;
  font-family: 'Lato', sans-serif;
  margin: 1rem;
  text-align: center;

}


.join-us {
  font-family: 'Lato', sans-serif;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 1rem;
  border: none;
  background: #FFFFFF;
  border-radius: 3px;
}
.hero-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 9rem;
}
.hero {
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
  color: white;
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 4rem;
}

.form {
display: flex;
flex-direction: column;
margin: auto;
width: 50%;
min-width: 345px;

}

.input {
background: #FFFFFF;
border-radius: 3px;
font-size: 15px;
letter-spacing: 0;
line-height: 20px;
border: 0;
padding: 1rem;
margin:auto;
margin-bottom: 1rem;

width: calc(100% - 1rem - 1rem);
}

.input::placeholder {
  color: #9B9DA0;
}
.form-row-2 {
  display: flex;
  justify-content: space-between;

}

 select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

background: #FFFFFF url(/img/arrow.png) no-repeat 90% center;
border-radius: 3px;
font-size: 1rem;
color: #9B9DA0;
letter-spacing: 0;
padding: 1rem;
width: 32%;
}

.button-red {
  display: flex;
  justify-content: center;
width: 32%;
background: #FF3434;
border-radius: 3px;
font-size: 1rem;
color: #FFFFFF;
letter-spacing: 0;
}


/*    begin section 2   */


.section-2 {
  background: #FFFFFF;
  width: 100%;
}

.section-2-container {
  width: 90%;
  margin: auto;
  margin-top: 4rem;
}
.sorting-menu {
  display: flex;
  margin-top: 2rem;
}
.sorting-menu-item {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  padding-bottom: .3rem;
  color: #000000;
  margin-right: 1.5rem;
  border-bottom: 3px solid transparent;
}
.sorting-menu-item:hover {
  border-bottom: 3px solid #FF3434;
}
.event-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2.5rem;
  flex-wrap: wrap;
}

.event-parent {
  width: 30%;
  min-width: 343px;
  display: flex;
  flex-direction: column;


}

.event-parent-2 {
  width: 30%;
  min-width: 343px;
  display: flex;
  flex-direction: column;


}


.image-parent{
  width: 100%;

}
img {
  width: 100%;

}
.genre-artist {
  display: flex;
  flex-direction: column;
  width: 100%;

}
.label {
  color: #9B9DA0;
  font-size: .8rem;
  font-family: 'Lato', sans-serif;
  text-align: left;
  margin-bottom: 6.8px;
}
.artist {
  margin-top: 0;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  text-align: left;
}

.location-price {
  display: flex;
  width: 100%;
  border-top: 1px solid lightgrey;
}

.location {
  width: 50%;
  border-right: 1px solid lightgrey;

}

.price {

  padding-left: .5rem;
  width: 50%;
}
.text {
  margin-top: 0;
}
.discover-more {
display: flex;
justify-content: center;
width: 15%;
min-width: 10.5rem;
background: #FF3434;
border-radius: 3px;
font-size: 1rem;
color: #FFFFFF;
letter-spacing: 0;
margin: auto;
margin-top: 4rem;
margin-bottom: 4rem;
}



/*      footer section     */


footer {

  border-top: lightgrey 1px solid;
  width: calc(100% - 1rem - 1rem);
  padding: 1rem;
}

.footer-container {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-between;

}

.legal {
  display: flex;
  min-width: 13rem;
  align-items: center;
}

.legal-text {
  text-align: center;
  display: flex;
  color: #9B9DA0;
  font-size: .8rem;
  font-family: 'Lato', sans-serif;
}

.social {
  display: flex;
}
.social-parent-1 {
  width: 1.5rem;
  margin-left: .5rem;
  margin-right: .5rem;
}
.social-parent {
  width: 1.5rem;

}

.no-margin {
  margin: 0;
}
.legal-link {
  color: lightgrey;
  font-family: 'Lato', sans-serif;
  margin-right: .5rem;

}
.fa {
  display: flex;
  align-items: center;
  color: lightgrey;
  margin-right: .2rem;
}


/*     media queries    */

/*       Mobile        */


@media screen and (max-width: 768px) {
  .nav-link-individual-2 {
    display: none;
  }
  .hero {
    width: 90%;
    margin-bottom: 2rem;
  }
  .form-row-2 {
    flex-wrap: wrap;
  }
  select {
    width: 48%;
  }
  .button-red {
    width: 100%;
    margin-top: 1rem;
  }
  .event-parent {
    margin-bottom: 2rem;
  }
  .footer-container {
    flex-direction: column-reverse;
  }
  .social {
    align-self: center;
    justify-content: center;
  }
  .legal {
    align-self: center;
    justify-content: center;
    margin-top: .5rem;
  }
  .sorting-menu {
    width: 100%;
    justify-content: space-between;
  }
}

/*         Tablet       */


@media screen and (min-width : 769px) and (max-width : 1024px) {

  .event-parent-2 {
    width: 100%;
    margin-bottom: 1rem;

  }
  .ibanez {
    height: 320px;
  }
}
