<div class="page-wrapper">
  <div class="section-1">
    <div class="filter">
  <div class="header">
    <div class="logo">
      <img class="logo-img" src="/img/LewisQ.png" alt="">
      <img class="l-img" src="/img/LewisL.png" alt="">
    </div>
    <div class="nav">
      <div class="nav-links">
        <a href="" class="nav-link-individual">Browse</a>
        <a href="" class="nav-link-individual">Discover</a>
        <a href="" class="nav-link-individual">Add Event</a>

      </div>
      <button class="join-us">Join us</button>
    </div>
  </div>

   <p class="hero">Discover the top live music events near you</p>
   <form class="form" action="">

   </form>
  </div>
</div>
</div>

{{outlet}}
