<div class="page-wrapper">
  <div class="section-1">
      <div class="header">
        <div class="logo">
          <a href=""><img class="logo-img" src="/img/Logo.png" alt=""></a>
        </div>
        <div class="nav">
          <div class="nav-links">
            <a href="" class="nav-link-individual-2">Browse</a>
            <a href="" class="nav-link-individual-2">Discover</a>
            <a href="" class="nav-link-individual">Add Event</a>

          </div>
          <a href=""><button class="join-us">Join us</button></a>
        </div>
      </div>
      <div class="hero-form-container">
        <p class="hero">Discover the top live music events near you</p>
        <form class="form" action="">
          <input class="input" type="text" placeholder="Enter your favorite artist or genre">
          <div class="form-row-2">
            <select class="select-white" name="Location">
    <option class="dropdown" selected="selected" value=""><p>Location</p> </option>
    <option class="dropdown" value=""><p>Other Location</p> </option>

   </select>
            <select class="select-white" name="Location">
    <option class="dropdown" selected="selected" value=""><p>Budget</p> </option>
    <option class="dropdown"  value=""><p>More Money</p> </option>
    <option class="dropdown"  value=""><p>Less Money</p> </option>

   </select>
            <a href="" class="button-red">
              <p>Find events</p>
            </a>
          </div>
        </form>
      </div>
  </div>





  <div class="section-2">
    <div class="section-2-container">
      <div class="sorting-menu">
        <p class="sorting-menu-item active">Most popular</p>
        <p class="sorting-menu-item">Coming up</p>
        <p class="sorting-menu-item">Near you</p>

      </div>
      <div class="event-list">
        <a href="" class="event-parent-2">
          <div class="image-parent">
            <img class="ibanez" src="/img/Ibanez.png" alt="">
          </div>
          <div class="genre-artist">
            <p class="label">Country</p>
            <p class="artist black">Kenny Chesney w/ Grace Potter</p>
            <div class="location-price">
              <div class="location">
                <p class="label">Location</p>
                <p class="text black">Nashville, TN</p>
              </div>
              <div class="price">
                <p class="label">Price</p>
                <p class="text black">$30-260</p>

              </div>
            </div>
          </div>
        </a>

        <a href="" class="event-parent">
          <div class="image-parent">
            <img src="/img/jazz.png" alt="">
          </div>
          <div class="genre-artist">
            <p class="label">Jazz</p>
            <p class="artist black">Gerald Albright Band</p>
            <div class="location-price">
              <div class="location">
                <p class="label">Location</p>
                <p class="text black">Atlanta, GA</p>
              </div>
              <div class="price">
                <p class="label">Price</p>
                <p class="text black">$15-90</p>

              </div>
            </div>
          </div>
        </a>


        <a href="" class="event-parent">
          <div class="image-parent">
            <img src="/img/electronic.png" alt="">
          </div>
          <div class="genre-artist">
            <p class="label">Electronic</p>
            <p class="artist black">The Rock Church</p>
            <div class="location-price">
              <div class="location">
                <p class="label">Location</p>
                <p class="text black">Birmingham, AL</p>
              </div>
              <div class="price">
                <p class="label">Price</p>
                <p class="text black">$20-40</p>

              </div>
            </div>
          </div>
        </a>


      </div>


        <div class="discover-more">
          <a class="discover-link" href="">Discover more</a>
        </div>



    </div>
  </div>

  <footer>
    <div class="footer-container">
      <div class="legal">
        <div class="legal-text">
          <i class="fa fa-copyright" aria-hidden="true"></i>
          <a class="legal-link" href="">
            <p class="no-margin">2015 Caddis</p>
          </a>
        </div>
        <div class="legal-text">
          <a class="legal-link" href="">
            <p class="no-margin">Privacy Policy</p>
          </a>
        </div>
        <div class="legal-text">
          <a class="legal-link" href="">
            <p class="no-margin">Terms of Use</p>
          </a>
        </div>
      </div>
      <div class="social">
        <a href=""><div class="social-parent">
          <img src="/img/Facebook.png" alt="">
        </div></a>
        <a href=""><div class="social-parent-1">
          <img src="/img/Twitter.png" alt="">
        </div></a>
        <a href=""><div class="social-parent">
          <img src="/img/GooglePlus.png" alt="">
        </div></a>

      </div>
    </div>
  </footer>

</div>

{{outlet}}
